doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title The Resistance
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        style.
            body{
                font-size:16px;
            }
    body
        .container
            block content
        script(src="/vendor/jquery/dist/jquery.js")
        script(src="/vendor/qrcode.js")
        script(src="/vendor/underscore/underscore.js")
        script(src="/vendor/backbone/backbone.js")
        script(src="/vendor/toastr/toastr.js")
        script(src="/vendor/bootstrap/dist/js/bootstrap.js")
        script(src="/socket.io/socket.io.js")
        script(src="/app.js")