doctype html
html
    head
        meta(charset='UTF-8')
        title The Resistance
    body
        block content
        script(src="/vendor/jquery/dist/jquery.js")
        script(src="/vendor/qrcode.js")
        script(src="/vendor/underscore/underscore.js")
        script(src="/socket.io/socket.io.js")
        script(src="/app.js")