extends ./layout.jade

block content
    script#roles(type="text/template")
        h1 hello world

    #game(data-game='#{game}')
        p Please enter your name
        input#name(placeholder='name')
        button#join Join