<h2>Mission</h2>
<p>
    The team is <%= team.join(' and ') %>. 
    The vote was <%= yays %> yays versus <%= nays %> nays. 
    This mission needs <%= mission.double ? '2' : '1' %> failure vote(s) to fail
</p>

<% if(chosen){ %>
<hr>
<p> You were selected for the team. Please vote for success or failure. </p>
<button class="btn btn-danger col-xs-6 btn-lg vote" data-value="failure">Failure</button>
<button class="btn btn-success col-xs-6 btn-lg vote" data-value="success">Success</button>
<% } %>
<% if(!chosen) { %>
<hr>
<p>
    Please wait while the team finishes voting on the mission.
</p>
<% } %>